body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
}

/* Bloco de estilização do cabeçalho */
header{
    background-color: #767d66;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.banner content{
    width: 80%;
}

.banner h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.banner p{
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

/* Estilização de menu de navegação */
nav a{
    text-decoration: none;
    color: #333;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    background-color: rgb(85, 118, 107);
    border-radius: 5px;
}

nav a:hover{
    background-color: #da983c;
}

main{
    width: 80%;
    margin: 2rem auto;
}

/* Estilização das seções da página composta por Entradas, Pratos Principais, Sobremesas, Bebidas, Pedido e Contato */
.categoria{
    margin-bottom: 2rem;
}

.produto{
    background-color: #fff;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1 rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.produto img{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.preco{
    font-weight: bold;
    color: #ff9800;
    margin-bottom: 1rem;
}

.adicionar{
    background-color: #da983c;
    color: #333;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;

}

#pedido{
    background-color: #e0e0e0;
    padding: 1rem;
    border-radius: 10px;
}

#lista.pedido{
    list-style: none;
    padding: 0;
}

#contato{
    text-align: center;
    margin-top: 2rem;
}

#redes-sociais a{
    display: inline-block;
    background-color: #ffca28;
    color: #333;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    margin: 0.5rem;
    
}

footer{
    text-align: center;
    padding: 1rem 0;
    background-color: #ff9800;
    color: #fff;
    font-weight: bold;
}

/* Estilo de responsividade */
@media (min-width: 768px){
    main{
        width: 60%;
    }
    
    .categoria{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1rem;
    }
}
